.odd{
  background: rgb(253, 146, 164);
  font-family: verdana, "Dejavu Sans", sans-serif;

}

#myid{
  color: blue;
  font-size: 36px;
}
.odd.cooler{
  font-size: 24px;
}

#otherid{
  background: lightgreen;
  font-size: 24px;
  font-weight: bold;
}